---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - f72fb8852432afe32769235086cd1ec9
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - users:read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-ouwk,haproxy-edge-pdx-sqqp
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"T01BKP66VQF","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"T01BKP66VQF"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"U01BKP9SFK9","team_id":"T01BKP66VQF","name":"ringo.alcock","deleted":false,"color":"4bbe2e","real_name":"Ringo","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Ringo","real_name_normalized":"Ringo","display_name":"Ringo","display_name_normalized":"Ringo","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g08f17ccf64b","image_24":"https:\/\/secure.gravata[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 38609ab760bbf9ad424b8484034a7534
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-osln,haproxy-edge-pdx-raf5
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01BKP67695","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1601939471,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"U01C0FJ2NR0","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01BKP66VQF"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        channel is for... well, everything else. It\u2019s a place for team jokes,
        spur-of-the-moment ideas, and funny GIFs. Go wild!","creator":"U01C0FJ2NR0","last_set":1601939471},"previous_names":[],"num_members":3},{"id":"C01BXCX7A8M","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1601939471,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"U01C0FJ2NR0","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01BKP66VQF"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator"[...]
